<h1>Reminders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Habit</th>
      <th>Frequency</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% @reminders.each do |reminder| %>
      <tr>
        <td>
          <%= link_to reminder.habit.name, habit_path(reminder.habit) %>
        </td>
        <td>
          <%= reminder.frequency %>
        </td>
        <td>
          <%= link_to 'Edit', edit_habit_reminder_path(reminder.habit, reminder), class: 'btn btn-sm btn-primary' %>
          <%= link_to 'Delete', habit_reminder_path(reminder.habit, reminder), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', habits_path %>
<%= link_to 'New Reminder', new_habit_reminder_path(@habit), class: 'btn btn-success' %>

