<h1>Calendar Page</h1>

<%= calendar_for @events, attribute: :start_time do |calendar| %>
    <%= calendar.render do |date, events| %>
      <%= date %>
      <%= events %>
    <% end %>
  <% end %>


<%= link_to 'View Calendar', calendars_habit_path %> %>

