<h2>Log Entries</h2>
<%= link_to 'New Log Entry', new_habit_log_path(@habit) %>
<%= link_to 'View Logs', habit_logs_path(@habit) %>

<% if @habit.logs.any? %>
  <% @habit.logs.each do |log| %>
    <div>
      <h3>Log Entry</h3>
      <strong>Entry Date:</strong> <%= log.entry_date %>
      <br>
      <strong>Notes:</strong> <%= log.notes %>
      <br>
      <%= link_to 'Edit', edit_habit_log_path(@habit, log) %>
      <%= link_to 'Delete', habit_log_path(@habit, log), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <hr>
  <% end %>
<% else %>
  <p>No log entries available for this habit.</p>
<% end %>

<%= link_to 'Back', habits_path %>
