<div class="form-container">
  <%= form_with model: @habit, html: { class: 'habit-form' } do |form| %>
    <div class="form-group">
      <%= form.label :name, class: 'label' %>
      <%= form.text_field :name, class: 'input' %>
    </div>

    <div class="form-group">
      <%= form.label :description, class: 'label' %>
      <%= form.text_area :description, class: 'input' %>
    </div>

    <div class="form-group">
      <%= form.label :duration, class: 'label' %>
      <%= form.number_field :duration, class: 'input' %>
    </div>

    <div class="form-group">
      <%= form.label :status, class: 'label' %>
      <%= form.select :status, Habit.statuses.map { |k, v| [k.humanize, k] }, {}, class: 'select' %>
    </div>

    <div class="form-group">
      <%= form.submit 'Create Habit', class: 'btn-primary' %>
    </div>
  <% end %>
</div>