<h1>All Habits</h1>

<h2>New Habits</h2>
<%= link_to 'New Habit', new_habit_path %>
<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Duration</th>
        <th>Status</th>
        <!-- Add more headers as needed -->
      </tr>
    </thead>
    <tbody>
      <%= render @new_habits %>
    </tbody>
  </table>
<ul>
  <% @new_habits.each do |habit| %>
    <li>
      <strong>Name:</strong> <%= habit.name %>
      <br>
      <strong>Description:</strong> <%= habit.description %>
      <br>
      <strong>Duration:</strong> <%= habit.duration %>
      <br>
      <strong>Status:</strong> <%= habit.status %>
      <!-- Add more details as needed -->
    </li>
  <% end %>
</ul>

<h2>Current Habits</h2>
 <%= render @current_habits %>
<ul>
  <% @current_habits.each do |habit| %>
    <li>
      <strong>Name:</strong> <%= habit.name %>
      <br>
      <strong>Description:</strong> <%= habit.description %>
      <br>
      <strong>Duration:</strong> <%= habit.duration %>
      <br>
      <strong>Status:</strong> <%= habit.status %>
      <!-- Add more details as needed -->
    </li>

  <ul>
  <% if @new_habits.any? %>
    <%= render @new_habits %>
  <% else %>
    <p>No new habits yet.</p>
  <% end %>
  </ul>

  <% end %>



      