<h1>All Habits</h1>

<%= link_to 'New Habit', new_habit_path %>

<% if @new_habits.any? %>
  <h2>New Habits</h2>
  <ul>
    <% @new_habits.each do |habit| %>
      <li>
        <strong>Name:</strong> <%= habit.name %><br>
        <strong>Description:</strong> <%= habit.description %><br>
        <strong>Duration:</strong> <%= habit.duration %><br>
        <strong>Status:</strong> <%= habit.status %><br>
        <%= form_for habit, url: mark_as_current_habit_path(habit), method: :post do |f| %>
          <%= f.button 'Make Current', type: 'submit', class: 'btn btn-primary' %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No new habits yet.</p>
<% end %>

<% if @current_habits.any? %>
  <h2>Current Habits</h2>
  <ul>
    <% @current_habits.each do |habit| %>
      <li>
        <strong>Name:</strong> <%= habit.name %><br>
        <strong>Description:</strong> <%= habit.description %><br>
        <strong>Duration:</strong> <%= habit.duration %><br>
        <%= link_to 'Reminders', habit_reminders_path(habit) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No current habits yet.</p>
<% end %>

