<!DOCTYPE html>
<html>
  <head>
    <title>FixMe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'style.css' %>
    <%= stylesheet_link_tag 'simple_calendar' %>
    <%= javascript_include_tag 'simple_calendar' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    


  </head>

  <body>
  <%= render 'shared/navbar', habit: @habit %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

  </body>
</html>


